<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        How would you like to improve the answers?
    </h1>
    <form action='/selfimprove' method='get'>
        <p>Chose any method of improving:</p>
        <input type="radio" id="myself" name="rating" value="myself">
        <label for="good">I will improve myself</label><br>

        <input type="radio" id="admin" name="rating" value="admin">
        <label for="improve">Please ask admin to improve.</label><br>



        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>